@import "../../assets/variables.css";

/*body {*/
/*  background-color: rgb(10, 10, 10);*/
/*  height: 100vh;*/
/*  margin: 0;*/
/*  overflow: hidden;*/
/*}*/

.gallery {
  height: 200vmax;
  width: 200vmax;
  position: absolute;
}

.tile {
  border-radius: 1vmax;
  position: absolute;
  transition: transform 800ms ease;
}

.tile:hover {
  transform: scale(1.1);
}

.tile:hover > img {
  opacity: 1;
  transform: scale(1.01);
}

.tile > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 800ms ease,
  transform 800ms ease;
}

.tile:nth-child(1) {
  background-color: #ff6fff;
  height: 19%;
  width: 25%;
  left: 5%;
  top: 5%;
}

.tile:nth-child(2) {
  background-color: #ff784f;
  height: 29%;
  width: 19%;
  left: 42%;
  top: 12%;
}

.tile:nth-child(3) {
  background-color: #ae914A;
  height: 23%;
  width: 21%;
  left: 12%;
  top: 34%;
}

.tile:nth-child(4) {
  background-color: #a2d729;
  height: 19%;
  width: 17%;
  left: 45%;
  top: 48%;
}

.tile:nth-child(5) {
  background-color: rgb(171, 71, 188);
  height: 21%;
  width: 37%;
  left: 8%;
  top: 70%;
}

.tile:nth-child(6) {
  background-color: rgb(255, 167, 38);
  height: 29%;
  width: 29%;
  left: 68%;
  top: 8%;
}

.tile:nth-child(7) {
  background-color: #175676;
  height: 21%;
  width: 25%;
  left: 50%;
  top: 74%;
}

.tile:nth-child(8) {
  background-color: #79addc;
  height: 29%;
  width: 23%;
  left: 72%;
  top: 42%;
}

.tile:nth-child(9) {
  background-color: #6b6b56;
  height: 17%;
  width: 15%;
  left: 84%;
  top: 80%;
}