@import "../../assets/variables.css";

.contactContainer {
  height: 80vh;
  display: flex;
}

.contactTable {
  /*align-self: right;*/
  width: 50vw;
  /*align-self: right;*/
  margin: 10em 5em 5em auto;
  text-decoration: none;
  border-spacing: 20px;
}

.contactHeader {
  text-align: right;
  font-family: var(--font-regular);
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 3px;
  text-transform: lowercase;
  color: var(--accent);
}

.contactDetails {
  text-align: left;
  font-family: var(--font-regular);
  font-weight: normal;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--text-secondary);
}


.contactLink {
  text-decoration: none;
  /*font-weight: 600;*/
  color: var(--text-secondary);
}

.contactLink:hover {
  color: var(--accent);
}
