@import "../../assets/variables.css";

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  flex-grow: 1;
  color: var(--text-primary);
  z-index: 200;
}

.headerText {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  transition-delay: 0.5s;
  transition-property: font-weight, color;
}

.headerTextOpen {
  transition-delay: 0.5s;
  transition-property: font-weight, color;
  font-weight: normal;
  color: var(--merlin);
}

.navbarBtn {
  display: flex;
  /*position: relative;*/
  position: absolute;
  top: 30%;
  /*top: 50%;*/
  right: 4%;
  z-index: 200;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--text-primary);
  outline: none;
  background: none;
  border: none;
  /*transform: translateY(-50%);*/
}

.navbarBtn:focus {
  outline: none;
}

.innerContainer {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
}

.line {
  position: absolute;
  height: 0.125rem;
  width: 100%;
  background-color: var(--background-secondary);
  transition: all 0.5s ease-in-out;
}

.navbarBtn:hover .line {
  background-color: var(--text-third);
}

.line1 {
  top: 15%;
  transition: transform 0.3s ease-in-out;
}

.line1Open {
  top: 8%;
  transform: rotate(45deg);
  transform-origin: left;
  transition-delay: 0.2s;
}

.line2 {
  top: 50%;
  transform: translateY(-50%);
}

.line2Open {
  opacity: 0;
}

.line3 {
  bottom: 15%;
}

.line3Open {
  bottom: 8%;
  transform-origin: left;
  transform: rotate(-45deg);
  transition-delay: 0.2s;
}

