@import "../../assets/variables.css";

.header {
  width: 100vw;
  position: fixed;
  top: 30px;
  left: 0;
  padding: 2.5rem;
  display: flex;
  flex-grow: 1;
  color: var(--text-primary);
  z-index: 200;
}

.headerText {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.navbarBtn {
  display: flex;
  position: absolute;
  top: 50%;
  right: 8%;
  z-index: 200;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--text-primary);
  outline: none;
  background: none;
  border: none;
  /*transform: translateY(-50%);*/
}

.navbarBtn:focus {
  outline: none;
}

.innerContainer {
  position: relative;
  /*top: 0;*/
  /*right: 0;*/
  width: 1.25rem;
  z-index: 200;
  /*transform: translate(-50%, -50%);*/
  /*background-color: var(--background-secondary);*/
}

.line {
  position: absolute;
  height: 0.125rem;
  width: 1.25rem;
  background-color: var(--background-secondary);
  transition: all 0.3s ease-in-out;
  z-index: 200;
}

.navbarBtn:hover .line {
  background-color: var(--accent);
}

.line1 {
  top: 0;
  /*transition: transform 0.3s ease-in-out;*/
}

.line1Open {
  transform: rotate(45deg);
  transition-delay: 0.2s;
}

.line1Closed {
  transform: translateY(-0.375rem);
}

.line2 {
  top: 50%;
  transform: translateY(-50%);
  /*transition: all 0.2s ease-in-out;*/
}

.line2Open {
  width: 0;
  opacity: 0.5;
}

.line2Closed {
  width: 1.25rem;
  transition-delay: 0.2s;
  opacity: 1;
}

.line3 {
  bottom: 0;
  /*transition: transform 0.3s ease-in-out;*/
}

.line3Open {
  transform: rotate(-45deg);
  transition-delay: 0.2s;
}

.line3Closed {
  transform: translateY(0.375rem);
}
