@import "../../assets/variables.css";


.navbar {
  position: fixed;
  /*display: flex;*/
  top: 100px;
  left: 0;
  width: 100%;
  /*padding-left: 2.5rem; !* 40px if 1rem = 16px *!*/
  /*padding-right: 2.5rem; !* 40px if 1rem = 16px *!*/
  z-index: 10;
  height: 100vh; /* Full viewport height */
  /*padding-top: 6rem; !* 96px if 1rem = 16px *!*/
  /*background-color: var(--background-secondary);*/
  /*background-color: var(--accent);*/
  background-image: url('../../assets/images/testingDrip.png');
  background-size: cover;
  background-position-y: bottom;
  transition: transform 0.5s ease-in-out;
  transform: translateY(-150%); /* Default state */
  /*opacity: 0; !* Default state *!*/
  /* Combined transition properties */

}

.navbarClosed {
  transition: transform 0.5s ease-in-out;
  transform: translateY(-150%);
  /*transition: all 300ms ease-in-out 100ms; !* Combined transition properties *!*/
}

.navbarOpen {
  /*background-color: var(--accent);*/
  height: 100%;
  width: 100%;
  transform: translateY(0);
  /*opacity: 1;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  z-index: 500;
}

.navbarOpen::backdrop {
  background: hsl(0 0% 0% / 0%);
}

.menu {

}

.menuListItem {
  display: flex;
  width: 100%;
  line-height: 5rem;
  list-style: none;
  outline: none;
  /*padding-top: 0.5rem; !* 8px if 1rem = 16px *!*/
  /*padding-bottom: 0.5rem; !* 8px if 1rem = 16px *!*/
  letter-spacing: 0;
  opacity: 0.5;
  transition: all 200ms ease-in-out;
}

.menuListItem:hover {
  opacity: 1;
  font-style: italic;
}


.menuLink {
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding-top: 0.5rem; /* 8px if 1rem = 16px */
  padding-bottom: 0.5rem; /* 8px if 1rem = 16px */
  font-size: 4rem;
  color: var(--text-primary); /* white */
}
