@import "../assets/variables.css";
@import url("https://fonts.googleapis.com/css?family=Kalnia&display=swap");

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  padding: 10px;
  text-transform: lowercase;
}
.menuListItem {
  list-style-type: none;
}
.menuLink {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 2em;
  /* font-size: 1.75em; */
  font-weight: bold;
  font-family: var(--font-regular);
}
.activeLink {
  text-decoration: none;
  color: var(--accent);
  /* font-size: 2em; */
  font-size: 1.75em;
  font-weight: bold;
  font-family: var(--font-regular);
}

.menuLink:hover {
  color: var(--accent);
}
