@font-face {
  font-family: "Blackbird";
  src: url("fonts/Projekt_Blackbird_v2.otf") format("opentype");
}

@font-face {
  font-family: 'BigJohnRegular';
  src: local('BigJohnRegular'), url('fonts/BigJohnPRO-Regular.otf') format('opentype');
}

@font-face {
  font-family: "BigJohnBold";
  src: local('BigJohnBold'), url("fonts/BigJohnPRO-Bold.otf") format("opentype");
}

@font-face {
  font-family: "BigJohnLight";
  src: local('BigJohnLight'), url("fonts/BigJohnPRO-Light.otf") format("opentype");
}

:root {
  --white: #ffffff;
  --white-smoke: #f5f5f5;
  --platinum: #dddddd;
  --silver: #c4c4c4;
  --silver-dark: #acacac;
  --battleship-gray: #939393;
  --gray: #7b7b7b;
  --dim-gray: #626262;
  --davys-gray: #494949;
  --jet: #313131;
  --eerie-black: #181818;
  --black: #000000;
  --ultra-pink: #ff6fff;
  --coral: #ff784f;
  /*gold theme*/
  --merlin: #464543;
  --albescent-white: #d9d1c6;
  --marigold: #ae914A;
  --zircon: #dddfdf;

  /*nature theme*/
  --paynes-grey: #414143;
  --siam: #6b6b56;
  --blue-smoke: #7a807c;
  --medium-wood: #a98f6a;
  --very-light-grey: #cecece;
  --mist-grey: #b8b6aa;

  /*gallery*/
  --blue-gray: #474350;
  --lapis-lazull: #175676;
  --ebony: #545e56;
  --ruddy-blue: #79addc;
  --space-cadet: #222e50;
  --dark-slate-gray: #354f52;
  --tiffany-blue: #7dcfb6;
  --ultra-violet: #4d5382;
  --van-dyke: #523a34;
  --carmine: #a30015;
  --dark-purple: #2f0a28;

  /*measurements*/
  /*--border-radius: 0.3rem;*/
  --border-radius: 30px;
  --smaller-border-radius: 15px;

  /*font*/
  --font-light: "BigJohnLight", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-regular: "BigJohnRegular", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-bold: "BigJohnBold", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /*--header: "BigJohnBold";*/
  /*--header: "BigJohnLight";*/
  /*--header: "Blackbird";*/
}

[data-theme="light"] {
  --background-primary: var(--white-smoke);
  --background-secondary: var(--albescent-white);
  --cursor-color: var(--zircon);
  --text-primary: var(--black);
  --text-secondary: var(--eerie-black);
  --text-third: var(--merlin);
  --accent: var(--coral);
  --accent-second: var(--marigold);
}

[data-theme="dark"] {
  --background-primary: var(--jet);
  --background-secondary: var(--paynes-grey);
  --cursor-color: var(--medium-wood);
  --text-primary: var(--very-light-grey);
  --text-secondary: var(--mist-grey);
  --text-third: var(--blue-smoke);
  --accent: var(--ultra-pink);
  --accent-second: var(--siam);
}
